

body {
    background-color: lightsteelblue;
}

h1  {
    color: teal;
    align-content: center;
    position: fixed;
    left: 50%;
}

.registerforms {
    align-content: center;
    position: fixed;
    top: 7%;
    left: 50%;
}

.registereduser {
    padding: 16px;


}

.chatwindow {

    padding: 1px;
    top: 10%;
    left: 25%;
    right: 25%;
    width: 900px;
    height: 500px;
    float: bottom;

    overflow: auto;
    font: 24px/36px sans-serif;

}





.chatcontainer {
    position: fixed;
    top: 10%;
    left: 33%;
    border: 5px solid white;
    background-color: wheat;

}

#fullname {
    color: red;
    border: 15px;
    background: green;
    display: inline-block;
}

.sendmsg {
    position: fixed;
    left: 50%;
    bottom: 1%;


}
li{
    
    display:flex;
    padding:3px;
    margin:3px 0;
}